<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Паттерны -->
    <property name="CONSOLE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n"/>
    <property name="FILE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 1. КОНСОЛЬ (все логи) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 2. ОСНОВНОЙ ФАЙЛ (все логи) -->
    <appender name="ALL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/all.log</file>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/all.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 3. APPLICATION ФАЙЛ -->
    <appender name="APPLICATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>25MB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 4. SPRING ФАЙЛ -->
    <appender name="SPRING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/spring.log</file>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/spring.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <!-- НАСТРОЙКИ ЛОГГЕРОВ -->

    <!-- Application логи идут в application.log и консоль -->
    <logger name="tgb.cryptoexchange" additivity="false" level="DEBUG">
        <appender-ref ref="APPLICATION_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>


    <!-- Spring логи идут в spring.log и консоль -->
    <logger name="org.springframework" additivity="false">
        <appender-ref ref="SPRING_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Все остальные логи идут в application.log и консоль -->
    <root level="INFO">
        <appender-ref ref="ALL_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>